@model IEnumerable<ProjetoMVC.Models.ClienteFornecedorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PessoaFisica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaJuridica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @{
                        if( item.PessoaId != null)
                        {
                            @Html.DisplayFor(modelItem => item.PessoaFisica.Nome)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PessoaJuridica.RazaoSocial)            
                        }
                    }
                
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaJuridica.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
