@model IEnumerable<ProjetoMVC.Models.ClienteFornecedorModel>

@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<h1>Cadastro de Clientes</h1>

<p>
    <a asp-action="Create" title="Incluir"><i class="bi bi-file-earmark-plus"></i></a>
</p>
<table class="table">
        <tr>
            <th>
                Cliente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @{
                        if( item.PessoaId != null)
                        {
                            @Html.DisplayFor(modelItem => item.PessoaFisica.Nome)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PessoaJuridica.RazaoSocial)            
                        }
                    }
                
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="Consultar"><i class="bi bi-eye-fill"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="bi bi-trash-fill"></i></a> |

                <a asp-action="Index" asp-controller="Empreendimento" asp-route-id="@item.Id" title="Empreendimentos"><i class="bi bi-building"></i></a> |
                <a asp-action="Index" asp-controller="Conta" asp-route-id="@item.Id" title="Contas"><i class="bi bi-cash-coin"></i></a>  |

                <a asp-action="Index" asp-controller="Endereco" asp-route-id="@item.Id" title="Endereços"><i class="bi bi-house-door"></i></a> |
                <a asp-action="Index" asp-controller="Contato" asp-route-id="@item.Id" title="Contatos"><i class="bi bi-telephone"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
