@model ProjetoMVC.Models.EmpreendimentoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmpreendimentoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataOrcamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataOrcamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPrevistaTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPrevistaTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataTermino)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
